# IGNORE
.DS_Store
prog
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/HackerGame Repo/v15/Browse.VC.opendb
/.vs/HackerGame Repo/v15/Browse.VC.db
/.vs/HackerGame Repo/v15/ipch/AutoPCH/1602efaeb3891465/MAIN.ipch
/.vs/HackerGame Repo/v15/.suo
/.vs/VSWorkspaceState.json
/.vs/HackerGame Repo/v15/ipch/AutoPCH/d84fd9a264fd8739
/.vs/config
/CppProperties.json
